
  /**********************************
    General
***********************************/

body, html{
    height: 100%;
}
  /**********************************
    Media Queries for responsivness
***********************************/
#headerText{
    font-size: 1.5rem;
}
#bottomHeaderText{
    font-size: 1.0rem;
}
@media (min-width: 575.98px) { 
    .typewriter h1{
        font-size: 1.5rem;
    }
    #bottomHeaderText{
        font-size: 1.0rem;
    }
}
/*Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 
    #headerText{
        font-size: 2rem;
    }
    #bottomHeaderText{
        font-size: 1.5rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { 
    #headerText{
        font-size: 3.5rem;
    }
    #bottomHeaderText{
        font-size: 1.75rem;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { 
    #headerText{
        font-size: 5rem;
    }
    #bottomHeaderText{
        font-size: 2.0rem;
    }
}

  /**********************************
    Navbar
***********************************/
#menu {
    background-color: white; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: -74px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
.navbar{
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.14);

}
nav ul li a {
	font-size: 12px;
	color: black;
	letter-spacing: 0.em;
	font-weight: 500;
	text-transform: uppercase;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
nav a:hover{
    color: #E1803C;
}

.navbar-brand{
	font-family: 'Cormorant Garamond', serif;
	font-size: 2rem;
	font-weight: 500;
	color: black;
}
#menu a:hover{
    color: #E1803C;
}

  /**********************************
    Typewriter effect
***********************************/
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #E1803C; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /*Adjust as needed */
    font-family: 'Roboto Mono', monospace;
    /* font-size: 5rem; */
    font-weight: 300;
    color: white;
    animation: 
    typing 2.5s steps(50, end),
    blink-caret .75s step-end infinite;
  } 
  .typewriter p{
    font-family: 'Roboto Mono', monospace;
    color: white;
  }
  /* The typing effect */
   @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
   /* The typewriter cursor effect  */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #E1803C; }
  }


  /**********************************
    Work, education and experience section properties
***********************************/

#aboutBg{
    background-color: #E1803C;
    height: 100vh;
}
#aboutBg h2{
    font-family: 'Dancing Script', cursive;
    font-size: 8vw;
}

.row{
    margin-left: 0;
    margin-right: 0;
}
.jumbotron{
    background: url(images/5.jpg) no-repeat scroll center center / cover;
    height: 100vh;
}
#profilePicture{
    z-index: 9999;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }
hr{
    width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.692), rgba(0, 0, 0, 0));
}
#id{
    height: 100%;
}
.sideContent h2{
    color: black;
    font-weight: 100;
    font-size: 2.5rem;
}
.sideContent p{
    color: black;
    font-weight: 100;
    size: 1.125rem;
    line-height: 2;
}

  /**********************************
    Social media icon bar
***********************************/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    z-index: 9999;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: white;
    color: #E1803C;
  }
  
  .icon {
    background: black;
    color: white;
  }

